section(class="portfolio portfolio-slider mega-section")

    div(class="container")
      -var sec_title_text="a portfolio of our work"
      -var sec_sub_title_text="Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt, architecto cupiditate odio rerum est"
      +add_on_center_section_heading(sec_title_text,sec_sub_title_text)
    div(class="container-fluid p-0")
      //Swiper
      div(class="swiper-container wow fadeInUp" data-wow-delay=".5s")
        div(class="swiper-wrapper ")

          div(class="swiper-slide")
            div(class="item ")
              a(href=portfolio_img_1 data-fancybox=".filter" class="portfolio-img-link ")
                div(class="overlay overlay-color")
                img(src=portfolio_thumb_1 alt=" " class="  portfolio-img img-fluid  ")
                i(class="fas fa-search icon")

              div( class="item-info ")
                span(class="info-title") programming   
                ul(class="tags-list")
                  li(class="tag-item") 
                    a(href="#" class="tag-link") c#
                  li(class="tag-item") 
                    a(href="#" class="tag-link") Java 


          div(class="swiper-slide")
            div(class="item")
              a(href=portfolio_img_2 data-fancybox=".filter" class="portfolio-img-link ")
                div(class="overlay overlay-color")
                img(src=portfolio_thumb_2 alt=" " class=" portfolio-img img-fluid  ")
                i(class="fas fa-search icon")

              div( class="item-info ")
                span(class="info-title") programming   
                ul(class="tags-list")
                  li(class="tag-item") 
                    a(href="#" class="tag-link") c#
                  li(class="tag-item") 
                    a(href="#" class="tag-link") Java 


          div(class="swiper-slide")
            div(class="item")
              a(href=portfolio_img_3 data-fancybox=".filter" class="portfolio-img-link ")
                div(class="overlay overlay-color")
                img(src=portfolio_thumb_3 alt=" " class=" portfolio-img img-fluid  ")
                i(class="fas fa-search icon")

              div( class="item-info ")
                span(class="info-title") programming   
                ul(class="tags-list")
                  li(class="tag-item") 
                    a(href="#" class="tag-link") c#
                  li(class="tag-item") 
                    a(href="#" class="tag-link") Java 


          div(class="swiper-slide")
            div(class="item")
              a(href=portfolio_img_4 data-fancybox=".filter" class="portfolio-img-link ")
                div(class="overlay overlay-color")
                img(src=portfolio_thumb_4 alt=" " class=" portfolio-img img-fluid  ")
                i(class="fas fa-search icon")

              div( class="item-info ")
                span(class="info-title") programming   
                ul(class="tags-list")
                  li(class="tag-item") 
                    a(href="#" class="tag-link") c#
                  li(class="tag-item") 
                    a(href="#" class="tag-link") Java 


          div(class="swiper-slide")
            div(class="item")
              a(href=portfolio_img_5 data-fancybox=".filter" class="portfolio-img-link ")
                div(class="overlay overlay-color")
                img(src=portfolio_thumb_5 alt=" " class=" portfolio-img img-fluid  ")
                i(class="fas fa-search icon")

              div( class="item-info ")
                span(class="info-title") programming   
                ul(class="tags-list")
                  li(class="tag-item") 
                    a(href="#" class="tag-link") c#
                  li(class="tag-item") 
                    a(href="#" class="tag-link") Java 


          div(class="swiper-slide")
            div(class="item")
              a(href=portfolio_img_6 data-fancybox=".filter" class="portfolio-img-link ")
                div(class="overlay overlay-color")
                img(src=portfolio_thumb_6 alt=" " class=" portfolio-img img-fluid  ")
                i(class="fas fa-search icon")

              div( class="item-info ")
                span(class="info-title") programming   
                ul(class="tags-list")
                  li(class="tag-item") 
                    a(href="#" class="tag-link") c#
                  li(class="tag-item") 
                    a(href="#" class="tag-link") Java 
        
            //navigation buttons
        
        
        
        div(class="swiper-button-prev")
          div(class="left-arrow")
            //- adding the PREV correct icon arrow  according to the direction of the page
            +add_correct_PREV_arrow_icon()

        div(class="swiper-button-next")
          div(class="right-arrow")
            //- adding the NEXT correct icon arrow  according to the direction of the page
            +add_correct_NEXT_arrow_icon()


