div(class=" clients-logos d-flex align-items-center justify-content-around flex-wrap"  )
  //Swiper
  div(class="swiper-container")
    div(class="swiper-wrapper clients-logo-wraper")
      // every client logo is located inside div  with clss name "swiper-slide ".
        if you want to add more logos please keep the strcture of the swiper-slide as showen below


      div(class="swiper-slide")
        div(class="client-logo  wow fadeInUp" data-wow-delay=".2s")
          a(href="#0")
            img(src=client_logo_1_white alt=" " class="img-fluid logo ")


      div(class="swiper-slide")
        div(class="client-logo wow fadeInUp" data-wow-delay=".2s")
          a(href="#0")
            img(src=client_logo_2_white alt=" " class="img-fluid logo ")


      div(class="swiper-slide")
        div(class="client-logo wow fadeInUp" data-wow-delay=".2s")
          a(href="#0")
            img(src=client_logo_3_white alt=" " class="img-fluid logo ")


      div(class="swiper-slide")
        div(class="client-logo wow fadeInUp" data-wow-delay=".2s")
          a(href="#0")
            img(src=client_logo_4_white alt=" " class="img-fluid logo ")


      div(class="swiper-slide")
        div(class="client-logo wow fadeInUp" data-wow-delay=".2s")
          a(href="#0")
            img(src=client_logo_5_white alt=" " class="img-fluid logo ")


      div(class="swiper-slide")
        div(class="client-logo wow fadeInUp" data-wow-delay=".2s")
          a(href="#0")
            img(src=client_logo_6_white alt=" " class="img-fluid logo ")


      div(class="swiper-slide")
        div(class="client-logo wow fadeInUp" data-wow-delay=".2s")
          a(href="#0")
            img(src=client_logo_7_white alt=" " class="img-fluid logo ")

    