div(class="hero-image-parts")
  img(src=hero_illustration_1_part_1 class="illustration-part part-1 wow fadeInRight" alt="img part"  data-wow-delay="0s" draggable="false")
  img(src=hero_illustration_1_part_2 class="illustration-part part-2 wow fadeInLeft"  alt="img part" data-wow-delay=".6s" draggable="false")
  img(src=hero_illustration_1_part_3 class="illustration-part part-3 wow fadeInLeft"  alt="img part" data-wow-delay=".9s" draggable="false")
  img(src=hero_illustration_1_part_4 class="illustration-part part-4 wow fadeInLeft"  alt="img part" data-wow-delay="1.2s" draggable="false")
  img(src=hero_illustration_1_part_5 class="illustration-part part-5 wow fadeInLeft"  alt="img part" data-wow-delay="1.5s" draggable="false") 